


/**********/



body{
    background-color: #FFFFFF;
    margin: 0;
}

#nav-bar
{
    position:sticky;
    top:0;
    z-index: 10;
     background-color: #fff;
}
.navbar-nav li{
    
    padding: 0 10px;
}
.navbar-nav li a{

color: #fff !important;
    padding: 2px;
    background-color: yellowgreen;
   
   
  
}
.navbar-nav {
    margin-left: 600px;
}
#nav-bar ul li a:hover{
    
    color:#fff!important;
    
}

.navbar{
    background-color: transparent;
}

.navbar-toggler{
    
    border:none!important;
    border-width: thick;
}

.nav-link
{
    color:#555!important;
    font-weight: 600;
    font-size: 16px;
}


#products{

      padding-top: 50px;
    padding-bottom: 50px;

}
/*------products-----*/



#products h1{
    text-align: center;
    padding-bottom: 5px;
}
#products h1::after{
    content: ' ';
    background: yellowgreen;
    display: block;
    height: 4px;
    width: 150px;
    margin: 10px auto 5px;
   
}

#products h2{
    padding
margin-top:5px;
    font-size: 22px;
    color: yellowgreen;
    font-weight: 600;
}

#products h2:hover{
  color: black;
}
#products p{
    
    font-weight: 450;
}

.whatsapp_float{
    
    position:fixed;
    bottom: 40px;
    right: 20px;
}












